<!DOCTYPE html>
<html>
  <head>
    <title>Lab9Ipl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Вариант 16</h1>
    <h1>Студент: Меслауров Адам И., группа ИУ6-33Б</h1>
    <h2>Текст задания:</h2>
    <p>Дано натуральное число n и целые числа a1 , a2 , . . . an . Написать программу, определяющую, есть ли среди заданной последовательности чисел отрезки (непрерывные подпоследовательности), состоящие из полных квадратов. Если есть, то подсчитать их количество и определить самый длинный из отрезков. Вывести на печать все отрезки, самый длинный из них и количество искомых отрезков. Если таких отрезков нет, то соответствующее сообщение. При составлении программы использовать функции.</p>
    <%= yield %>
    <% flash.each do |_type, msg| %>
      <% if msg[0] %>
        <h2>Ошибка!</h2>
      <% end %>
      <% if msg[1] %>
        <h2>Пояснение: <%= msg[1] %></h2>
      <% end %>
      <% if msg[2] %>
        <h2>Возможно этот символ вызвал ошибку: <%= msg[2] %></h2>
      <% end %>
      <% if msg[3] %>
        <h2>Входные данные, вызвавшие ошибку: <%= msg[3] %></h2>
      <% end %>
    <% end %>
  </body>
</html>
